<!-- <app-usuario></app-usuario> -->
<!-- <app-libros></app-libros> -->

<!-- <h1>Mi aplicacion Angular</h1>
<a routerLink="/">Inicio</a>
<a routerLink="/libros">Libros Favoritos</a>
<router-outlet></router-outlet> -->

<!-- <h1>Mi aplicacion Angular</h1> -->

<!-- <div class="example-button-row">
  <button mat-raised-button color="warn" mat-icon="home" routerLink="/">Inicio
    <mat-icon>home</mat-icon>
  </button>
  <button mat-raised-button color="warn" mat-icon="book" routerLink="/libros">Libros
    <mat-icon>book</mat-icon>
  </button>
</div> -->

<mat-sidenav-container>
  <mat-sidenav #menu role="navigation">
    <!--Aqui va la lista menu-->
    <app-menu-list (menuToggled)="menu.toggle()"></app-menu-list>
  </mat-sidenav>
  <mat-sidenav-content>

    <!--Aqui va el nav bar-->
    <app-bar-navegation (menuToggle)="menu.toggle()"></app-bar-navegation>
    <main>
      <router-outlet></router-outlet>
    </main>

  </mat-sidenav-content>
</mat-sidenav-container>
